@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="../../Images/logoUNagi.png"/>
    <p class="lead">Bienvenido a la plataforma virtual de asesorías UNagi.</p>
    <button btn btn-primary btn-lg onclick="loadDataAsync('Index', 'Materias')"><p>Materias disponibles &raquo;</p></button>
</div>