<p class="main">Registrar nueva materia</p>

<form name="nueva-materia" id="nueva-materia">
    <table>
        <thead></thead>
        <tbody>
            <tr>
                <td><label for="nombre">Materia</label></td>
                <td><input type="text" name="nombre" id="nombre" /></td>
            </tr>
            <tr>
                <td><label for="contraseña">Contraseña:</label></td>
                <td><input type="password" name="contraseña" id="contraseña" /></td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="h2" onclick="CreateMateria()">Registrar</button>
</form>